# Hands-on 4

### CS2545 - Data Science ###
### Fall, 2021 ###
### UNB, Fredericton ###

Please complete the following and submit this notebook (filename: handson4-**lastname**-**firstname**.ipynb) to D2L by 11:30 am, Friday, October 29. 
</br>
</br>
</br>

**Q1.** Download *user.csv*  from D2L. The entries in *user*  represent movie reviewers.

Add a column to the dataframe called *agegroup*, where the value of *agegroup* is a label based on the following table. Using this table, you can create relevant intervals (i.e. left-open and right-closed intervals).

Infant: 0-1 <br>
Toddler: 1-3 <br>
Children: 3-12 <br>
Teen: 12-19  <br>
Young-adult: 19-25 <br> 
Adult: 25 - 65 <br>
Senior: 65 - 110 <br>

So, someone aged 13 will be labeled 'Teen'

In [5]:
import pandas as pd
import numpy as np

u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
user = pd.read_csv('user.csv', sep='|', names=u_cols)


# write your code below
def get_agegroup(age) -> str:
    agegroup = ""
    if(age > 65 and age < 111):
        agegroup = "Senior"
    elif(age > 25 and age < 66):
        agegroup = "Adult"
    elif(age > 19 and age < 26):
        agegroup = "Young-adult"
    elif(age > 12 and age < 20):
        agegroup = "Teen"
    elif(age > 3 and age < 13):
        agegroup = "Children"
    elif(age > 1 and age < 4):
        agegroup = "Toddler"
    elif(age > 0 and age < 2):
        agegroup = "Infant"
    return agegroup
user["agegroup"] = user["age"].apply(get_agegroup)
user

     user_id  age sex     occupation zip_code     agegroup
0          1   24   M     technician    85711  Young-adult
1          2   53   F          other    94043        Adult
2          3   23   M         writer    32067  Young-adult
3          4   24   M     technician    43537  Young-adult
4          5   33   F          other    15213        Adult
..       ...  ...  ..            ...      ...          ...
938      939   26   F        student    33319        Adult
939      940   32   M  administrator    02215        Adult
940      941   20   M        student    97229  Young-adult
941      942   48   F      librarian    78209        Adult
942      943   22   M        student    77841  Young-adult

[943 rows x 6 columns]

**Q2.1**  Download the *rating.csv*  from D2L.  The entries in *rating* represents the movie ratings given by these reviewers. 
Also, you will need the *user* data frame with column *agegroup* from  Q1. 

Join these two data frames to create a new data frame.


**Q2.2**  Print the movie ids of the top rated movies (rating > 4) that are rated by either Teens or Seniors.

In [9]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
rating = pd.read_csv('rating.csv', sep='\t', names=r_cols)

# write your code below

# Q2.1
ndf = pd.merge(user, rating)

# Q2.2
nf = ndf[((ndf['agegroup']=='Senior') | (ndf['agegroup']=='Teen')) & (ndf['rating'] > 4) ]
movieID

[339,
 883,
 882,
 885,
 358,
 1026,
 878,
 261,
 1009,
 498,
 657,
 287,
 531,
 15,
 845,
 427,
 22,
 13,
 151,
 19,
 126,
 285,
 258,
 527,
 463,
 318,
 25,
 919,
 277,
 191,
 7,
 304,
 79,
 744,
 282,
 173,
 248,
 100,
 222,
 199,
 64,
 763,
 249,
 318,
 181,
 295,
 42,
 258,
 50,
 1,
 257,
 64,
 240,
 405,
 1093,
 7,
 117,
 237,
 178,
 50,
 258,
 286,
 475,
 275,
 276,
 181,
 237,
 313,
 161,
 169,
 181,
 333,
 176,
 346,
 514,
 91,
 268,
 134,
 258,
 316,
 895,
 315,
 272,
 333,
 288,
 914,
 682,
 916,
 302,
 288,
 895,
 315,
 313,
 346,
 272,
 310,
 257,
 423,
 205,
 199,
 215,
 48,
 268,
 172,
 250,
 318,
 100,
 129,
 721,
 272,
 24,
 64,
 156,
 273,
 96,
 346,
 42,
 210,
 150,
 246,
 12,
 56,
 969,
 237,
 216,
 298,
 69,
 22,
 95,
 1016,
 117,
 71,
 313,
 155,
 173,
 546,
 201,
 425,
 68,
 109,
 1101,
 895,
 260,
 151,
 652,
 853,
 238,
 567,
 12,
 81,
 173,
 288,
 219,
 741,
 178,
 181,
 172,
 185,
 223,
 616,
 50,
 433,
 59,
 276,
 50,
 100,
 531,
 1462,
 1008,
 324,
 181,
 582,
 475,
 1129,
 381,
 313,
 286,
 60,
 57,
 921,
 61,
 14,
 285,
 1137,
 313,
 310,
 751,
 873,
 748,
 272,
 332,
 286,
 326,
 300,
 64,
 318,
 709,
 131,
 486,
 1014,
 699,
 25,
 98,
 558,
 778,
 736,
 370,
 466,
 781,
 306,
 327,
 387,
 70,
 1119,
 281,
 707,
 379,
 596,
 441,
 741,
 155,
 173,
 156,
 286,
 222,
 241,
 800,
 218,
 295,
 747,
 288,
 1148,
 217,
 275,
 471,
 872,
 402,
 1210,
 740,
 253,
 183,
 584,
 50,
 26,
 60,
 713,
 90,
 5,
 279,
 727,
 581,
 860,
 559,
 1009,
 583,
 164,
 694,
 421,
 213,
 535,
 200,
 1073,
 1074,
 319,
 251,
 123,
 943,
 93,
 88,
 475,
 268,
 603,
 219,
 185,
 234,
 566,
 242,
 1007,
 672,
 1109,
 56,
 283,
 304,
 690,
 271,
 748,
 144,
 686,
 15,
 428,
 7,
 226,
 466,
 741,
 460,
 53,
 168,
 410,
 455,
 56,
 174,
 567,
 179,
 496,
 156,
 48,
 715,
 294,
 24,
 181,
 288,
 1073,
 685,
 9,
 448,
 581,
 5,
 238,
 469,
 79,
 12,
 475,
 1,
 22,
 210,
 90,
 1220,
 124,
 780,
 117,
 100,
 69,
 129,
 246,
 670,
 631,
 291,
 172,
 173,
 98,
 844,
 64,
 223,
 50,
 151,
 293,
 508,
 69,
 134,
 161,
 176,
 209,
 435,
 182,
 179,
 1007,
 203,
 262,
 654,
 129,
 181,
 202,
 9,
 318,
 194,
 234,
 79,
 451,
 96,
 153,
 91,
 183,
 67,
 219,
 739,
 184,
 237,
 792,
 705,
 201,
 651,
 42,
 172,
 208,
 268,
 185,
 286,
 507,
 483,
 156,
 216,
 517,
 95,
 482,
 603,
 387,
 525,
 357,
 658,
 340,
 151,
 50,
 650,
 168,
 215,
 780,
 64,
 709,
 100,
 56,
 170,
 98,
 474,
 22,
 150,
 23,
 269,
 127,
 41,
 174,
 93,
 246,
 132,
 187,
 144,
 8,
 319,
 479,
 588,
 1039,
 1,
 403,
 97,
 514,
 83,
 47,
 484,
 655,
 173,
 221,
 116,
 191,
 177,
 68,
 210,
 173,
 431,
 97,
 22,
 156,
 184,
 92,
 550,
 17,
 121,
 204,
 195,
 946,
 470,
 56,
 51,
 96,
 248,
 880,
 292,
 887,
 1025,
 330,
 299,
 881,
 22,
 79,
 144,
 168,
 435,
 69,
 85,
 288,
 300,
 472,
 239,
 82,
 291,
 182,
 132,
 298,
 55,
 56,
 125,
 410,
 959,
 127,
 721,
 98,
 273,
 172,
 233,
 68,
 403,
 187,
 157,
 77,
 240,
 356,
 117,
 470,
 31,
 763,
 333,
 50,
 1039,
 181,
 655,
 245,
 550,
 203,
 742,
 76,
 188,
 686,
 977,
 156,
 293,
 177,
 282,
 180,
 249,
 11,
 186,
 411,
 693,
 357,
 20,
 10,
 276,
 285,
 284,
 250,
 17,
 665,
 100,
 56,
 201,
 288,
 919,
 176,
 179,
 183,
 324,
 302,
 7,
 184,
 50,
 98,
 185,
 217,
 17,
 320,
 201,
 313,
 217,
 184,
 183,
 185,
 183,
 302,
 234,
 763,
 12,
 136,
 1446,
 342,
 328,
 50,
 1169,
 591,
 394,
 316,
 172,
 147,
 173,
 270,
 1016,
 496,
 143,
 315,
 787,
 7,
 178,
 56,
 657,
 705,
 302,
 174,
 513,
 504,
 483,
 615,
 177,
 127,
 156,
 171,
 135,
 23,
 197,
 423,
 641,
 100,
 192,
 199,
 611,
 134,
 172,
 50,
 186,
 182,
 480,
 58,
 484,
 357,
 474,
 522,
 271,
 475,
 172,
 56,
 222,
 288,
 302,
 156,
 357,
 346,
 168,
 12,
 92,
 50,
 546,
 220,
 125,
 1095,
 763,
 1152,
 237,
 975,
 477,
 111,
 928,
 274,
 151,
 287,
 288,
 974,
 118,
 411,
 1197,
 294,
 331,
 260,
 288,
 333,
 328,
 678,
 873,
 246,
 7,
 42,
 11,
 172,
 100,
 276,
 156,
 475,
 50,
 357,
 12,
 22,
 181,
 693,
 56,
 272,
 1006,
 9,
 682,
 289,
 332,
 321,
 313,
 310,
 288,
 22,
 300,
 11,
 272,
 237,
 292,
 866,
 655,
 322,
 328,
 524,
 435,
 216,
 648,
 659,
 505,
 153,
 190,
 283,
 86,
 70,
 498,
 181,
 199,
 191,
 211,
 313,
 343,
 338,
 826,
 1034,
 323,
 682,
 892,
 147,
 245,
 827,
 300,
 689,
 271,
 302,
 405,
 316,
 328,
 1089,
 879,
 898,
 298,
 750,
 315,
 748,
 334,
 257,
 222,
 313,
 678,
 894,
 691,
 121,
 250,
 50,
 597,
 252,
 288,
 1237,
 751,
 1016,
 754,
 181,
 895,
 306,
 345,
 841,
 307,
 294,
 118,
 206,
 268,
 109,
 12,
 239,
 42,
 239,
 58,
 657,
 50,
 194,
 174,
 181,
 210,
 173,
 83,
 31,
 204,
 202,
 79,
 210,
 781,
 660,
 419,
 181,
 257,
 8,
 651,
 50,
 476,
 234,
 142,
 755,
 91,
 418,
 71,
 659,
 140,
 946,
 79,
 378,
 265,
 474,
 172,
 678,
 83,
 924,
 709,
 173,
 459,
 323,
 538,
 310,
 50,
 288,
 121,
 328,
 181,
 313,
 271,
 15,
 258,
 188,
 315,
 191,
 199,
 318,
 216,
 519,
 69,
 226,
 196,
 144,
 520,
 205,
 566,
 863,
 513,
 211,
 507,
 181,
 289,
 252,
 250,
 249,
 258,
 343,
 271,
 50,
 282,
 288,
 3,
 257,
 750,
 93,
 7,
 50,
 475,
 293,
 919,
 100,
 313,
 463,
 1512,
 863,
 212,
 707,
 45,
 207,
 70,
 1009,
 1193,
 923,
 510,
 213,
 1449,
 1558,
 170,
 86,
 1155,
 198,
 721,
 365,
 204,
 99,
 143,
 347,
 15,
 333,
 316,
 278,
 451,
 220,
 215,
 282,
 272,
 172,
 164,
 419,
 131,
 85,
 559,
 133,
 142,
 1428,
 417,
 433,
 132,
 83,
 959,
 658,
 645,
 578,
 485,
 121,
 421,
 42,
 471,
 28,
 402,
 354,
 367,
 173,
 941,
 68,
 162,
 181,
 63,
 82,
 1240,
 1074,
 1061,
 8,
 366,
 239,
 107,
 155,
 969,
 268,
 225,
 12,
 178,
 88,
 168,
 22,
 697,
 313,
 716,
 370,
 21,
 216,
 50,
 234,
 735,
 301,
 91,
 265,
 124,
 50,
 204,
 297,
 433,
 202,
 288,
 1134,
 408,
 201,
 184,
 847,
 157,
 251,
 318,
 187,
 425,
 197,
 42,
 303,
 56,
 258,
 238,
 273,
 262,
 272,
 32,
 168,
 179,
 169,
 137,
 64,
 306,
 215,
 508,
 705,
 174,
 919,
 ...]

**Q3.**  Using the dataframe in Q2.1, show the average movie rating for each agegroup. Remove records with NaN fields.

In [7]:
# write your code below
ndf2 = ndf.dropna()
ndf3 = ndf2.groupby(['agegroup']).mean()
print(ndf3[['rating']].copy())

               rating
agegroup
Adult        3.550149
Children     3.425743
Senior       3.589212
Teen         3.488366
Young-adult  3.481513